<ion-view view-title="Equipment">
  <ion-content>
   
   <br><br>
  <div class="page-header">
  	<img src="img/dji_logo.png">  
  	<br><br><br>
  	  Connect your DJI device
	</div>
	<br><br><br>



  <ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="slider-page"><img src="img/inspire1.jpg"></div>
  </ion-slide>
  <ion-slide>
    <div class="slider-page"><img src="img/p3.jpg"></div>
  </ion-slide>
  <ion-slide>
    <div class="slider-page"><img src="img/osmo.png"><br><br><br></div>
  </ion-slide>
</ion-slide-box>

<br><br>

<button class="button button-positive">
  Enter Camera View
</button>

  </ion-content>
</ion-view>
